block variables

header.header(class= my_works)

  .header__bg-title 
    img(src='images/bg/' + header__bg)


  //- social links
  - var urlVk = 'images/icons/sprite.svg#vk';
  - var urlGit = 'images/icons/sprite.svg#github';
  - var urlIn = 'images/icons/sprite.svg#in';
  
  .header__links
    ul.header__list
      each item in [urlVk, urlGit, urlIn]
        li.header__item
          a(href="").header__item_link
            svg.vk.header__social
              use(xlink:href='' + item) 

  //- menu
  .menu__btn
    a#btn__menu.menu__btn-link(href="#")
      span.menu__btn_span
      span.menu__btn_span
      span.menu__btn_span

    .menu-humburger
    - var myWorks = 'my-works.html'
    - var blog = 'blog.html'
    - var about = 'about.html'
    - var auth = '/'
      .menu-humburger_wrap
        ul.menu-humburger__list
          li.menu-humburger__item
            a.menu-humburger__link(href="" + myWorks).title_63 Мои работы
          li.menu-humburger__item
            a.menu-humburger__link(href="" + blog).title_63 Блог
          li.menu-humburger__item
            a.menu-humburger__link(href="" + about).title_63 Обо мне
          li.menu-humburger__item
            a.menu-humburger__link(href="" + auth).title_63 Авторизация

  //- content
  .header__block
    .header__img
      img(src="images/bg/welcome-photo.png", alt="")
    .header__content
      span.header__title Магомедов Марио
      br
      span.header__subtitle Личный сайт вебразработчика
  //- button
  #arrow__down(class= arrow)
    a(href="#").arrow__down_link
      img(src="../../images/icons/arrow_down.svg", alt="")
  //- svg
  .header__triangle(class= worksd)
    svg.traingle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
      polygon.traingle__left(points='0,0 0,86 500.8,86 500.8,75.5')
      polygon.traingle__right(points='1000,0 1000,86 500,86 500,75.5')
