header.header
    //- social links
    .header__links
        ul.header__list
            li.header__item
                a(href="").header__item_link
                    img(src="images/icons/vk.svg", alt="")
            li.header__item
                a(href="").header__item_link
                    img(src="images/icons/github.svg", alt="")
            li.header__item
                a(href="").header__item_link
                    img(src="images/icons/in.svg", alt="")

    //- menu
    .menu__btn
        a#btn__menu.menu__btn-link(href="")
            img(src="images/icons/hamburger.svg", alt="menu")
    //- content
    .header__block
        .header__img
            img(src="images/bg/welcome-photo.png", alt="")
        .header__content
            span.header__title Магомедов Марио
            br
            span.header__subtitle Личный сайт вебразработчика
    //- button
    #arrow__down
        a(href="#").arrow__down_link
            img(src="../../images/icons/arrow_down.svg", alt="")
    //- svg
    .header__triangle
        .header__triangle_left
        .header__triangle_right
