extends ../_template

block variables
  - var title = 'Обо мне'

block content
  include ../common/header
  //- about
  section.section.about
    .about__title
      .title_63 Обо мне

    .about__img
      .about__img_pic
        img(src="images/bg/welcome-photo.png", alt="")

      .about__img_content
        .title_35 Обо мне
        .about__img_text
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda consectetur minima maiores, quam nesciunt impedit asperiores rerum numquam id. Provident.
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda consectetur minima maiores, quam nesciunt impedit asperiores rerum numquam id. Provident.

    .about__content
      .about__content_title
        .title_35 Чемя могу быть
        br
        .title_35-n Вам полезен

      .about__content_text
        p Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по проядку.

    .about__progress
      //- Frontend
      .scills
        h3.scills_title Frontend
        ul.scills__item
          li.scills__list
            svg.circles(vievBox='0 0 110 110' width='120' height='120')
              circle(r='45' cx='50%' cy='50%' fill='none').circle__first
              circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-90
            span.scills__title HTML5

          li.scills__list
            svg.circles(vievBox='0 0 110 110'  width='120' height='120')
              circle(r='45' cx='50%' cy='50%' fill='none').circle__first
              circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-90
            span.scills__title css3

          li.scills__list
            svg.circles(vievBox='0 0 110 110'  width='120' height='120')
              circle(r='45' cx='50%' cy='50%' fill='none').circle__first
              circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-75
            span.scills__title javascript &amp; jQuery
      
      //- Backend
      .scills
        h3.scills_title Backend
        ul.scills__item
          li.scills__list
            svg.circles(vievBox='0 0 110 110' width='120' height='120')
              circle(r='45' cx='50%' cy='50%' fill='none').circle__first
              circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-0
            span.scills__title php

          li.scills__list
            svg.circles(vievBox='0 0 110 110'  width='120' height='120')
              circle(r='45' cx='50%' cy='50%' fill='none').circle__first
              circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-0
            span.scills__title mySQL

          li.scills__list
            svg.circles(vievBox='0 0 110 110'  width='120' height='120')
              circle(r='45' cx='50%' cy='50%' fill='none').circle__first
              circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-30
            span.scills__title Node.js &amp; npm
          
          li.scills__list
            svg.circles(vievBox='0 0 110 110'  width='120' height='120')
              circle(r='45' cx='50%' cy='50%' fill='none').circle__first
              circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-0
            span.scills__title Mongo.db
      
      //- WorkFlow
      .scills
        h3.scills_title WorkFlow
        ul.scills__item
          li.scills__list
            svg.circles(vievBox='0 0 110 110' width='120' height='120')
              circle(r='45' cx='50%' cy='50%' fill='none').circle__first
              circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-90
            span.scills__title Git

          li.scills__list
            svg.circles(vievBox='0 0 110 110'  width='120' height='120')
              circle(r='45' cx='50%' cy='50%' fill='none').circle__first
              circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-60
            span.scills__title Gulp

          li.scills__list
            svg.circles(vievBox='0 0 110 110'  width='120' height='120')
              circle(r='45' cx='50%' cy='50%' fill='none').circle__first
              circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-30
            span.scills__title Webpack


  section.section.map
    .google-map
    .map__contacts
      .contacts
        .contacts__title
          .block-subtitle Контакты
        ul.contacts__list
          - 
            var contacts = [
              ['skype', 'skype_kdn'],
              ['mail', 'astahov@gmail.com'],
              ['phone', '+79211 123 23 23'],
              ['mark', 'Новосибирск'],
            ]
          each contact in contacts
            li.contacts__item
              .contacts-row
                .contacts-row__icon #{contact[0]}
                .contacts-row__content #{contact[1]}
  footer.map__footer.footer
    .footer__row
      .container
        .footer__col.footer__col-left
          nav.menu
        .footer__col.footer__col-right
          ul.socials.socials_rounded
            each item in ['vk', 'fb', 'in']
              li.socials__item
                a(href="" class=`socials__item socials__item_${item}`)
    .footer__row
      .container
        .footer__col.footer__col-left
          .footer__text
            p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer__col.footer__col-right
          .footer__text.footer__text_margin_top
            p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.  




