extends ../_template

block variables
  - var title = 'Обо мне'

block content
  include ../common/header

  block variables
    - var header__bg = "portfolio_header.png"
       
  //- about
  section.section.about
    .about__title
      .title_63 Обо мне
        .about__title_icon
          svg.icon
            use(xlink:href='images/icons/sprite.svg#about_header')

    .about__img
      .about__img_pic
        img(src="images/bg/welcome-photo.png", alt="")

      .about__img_content
        .title_35 Обо мне

        .about__img_text
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda consectetur minima maiores, quam nesciunt impedit asperiores rerum numquam id. Provident.
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda consectetur minima maiores, quam nesciunt impedit asperiores rerum numquam id. Provident.

    .about__content
      .about__content_title
        .title_35 Чемя могу быть
        br
        .title_35-n Вам полезен

      .about__content_text
        p Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по проядку.

    .about__progress
      .tablet
        //- Frontend
        .scills
          h3.scills_title Frontend
          ul.scills__item
            li.scills__list
              svg.circles(vievBox='0 0 110 110' width='120' height='120')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-90
              span.scills__title HTML5

            li.scills__list
              svg.circles(vievBox='0 0 110 110'  width='120' height='120')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-90
              span.scills__title css3

            li.scills__list
              svg.circles(vievBox='0 0 110 110'  width='120' height='120')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-75
              span.scills__title javascript &amp; jQuery
              
        //- Backend
        .scills
          h3.scills_title Backend
          ul.scills__item
            li.scills__list
              svg.circles(vievBox='0 0 110 110' width='120' height='120')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-0
              span.scills__title php

            li.scills__list
              svg.circles(vievBox='0 0 110 110'  width='120' height='120')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-0
              span.scills__title mySQL

            li.scills__list
              svg.circles(vievBox='0 0 110 110'  width='120' height='120')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-30
              span.scills__title Node.js &amp; npm

            li.scills__list
              svg.circles(vievBox='0 0 110 110'  width='120' height='120')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-0
              span.scills__title Mongo.db

        //- WorkFlow
        .scills
          h3.scills_title WorkFlow
          ul.scills__item
            li.scills__list
              svg.circles(vievBox='0 0 110 110' width='120' height='120')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-90
              span.scills__title Git

            li.scills__list
              svg.circles(vievBox='0 0 110 110'  width='120' height='120')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-60
              span.scills__title Gulp

            li.scills__list
              svg.circles(vievBox='0 0 110 110'  width='120' height='120')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 60 60)").circle__second.circle-30
              span.scills__title Webpack
    
      .media-phone
        //- Frontend
        .scills
          h3.scills_title Frontend
          ul.scills__item
            li.scills__list
              svg.circles(vievBox='0 0 110 110')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 55 55)").circle__second.circle-90
              span.scills__title HTML5

            li.scills__list
              svg.circles(vievBox='0 0 110 110')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 55 55)").circle__second.circle-90
              span.scills__title css3

            li.scills__list
              svg.circles(vievBox='0 0 110 110')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 55 55)").circle__second.circle-75
              span.scills__title javascript &amp; jQuery
              
        //- Backend
        .scills
          h3.scills_title Backend
          ul.scills__item
            li.scills__list
              svg.circles(vievBox='0 0 110 110')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 55 55)").circle__second.circle-0
              span.scills__title php

            li.scills__list
              svg.circles(vievBox='0 0 110 110')
               circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 55 55)").circle__second.circle-0
              span.scills__title mySQL

            li.scills__list
              svg.circles(vievBox='0 0 110 110')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 55 55)").circle__second.circle-30
              span.scills__title Node.js &amp; npm

            li.scills__list
              svg.circles(vievBox='0 0 110 110')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 55 55)").circle__second.circle-0
              span.scills__title Mongo.db

        //- WorkFlow
        .scills
          h3.scills_title WorkFlow
          ul.scills__item
            li.scills__list
              svg.circles(vievBox='0 0 110 110')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 55 55)").circle__second.circle-90
              span.scills__title Git

            li.scills__list
              svg.circles(vievBox='0 0 110 110')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 55 55)").circle__second.circle-60
              span.scills__title Gulp

            li.scills__list
              svg.circles(vievBox='0 0 110 110')
                circle(r='45' cx='50%' cy='50%' fill='none').circle__first
                circle(r='45' cx='50%' cy='50%' fill='none' transform="rotate(-90 55 55)").circle__second.circle-30
              span.scills__title Webpack

  //- map
  section.section.map
    .google-map#map
      script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js")
      script.
        google.maps.event.addDomListener(window, 'load', init);

          function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions = {
              // How zoomed in you want the map to start at (always required)
              zoom: 11,

              // The latitude and longitude to center the map (always required)
              center: new google.maps.LatLng(40.6700, -73.9400), // New York

              // How you would like to style the map. 
              // This is where you would paste any style found on Snazzy Maps.
              styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"administrative.country","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#55d6c4"},{"visibility":"on"}]}]
            };

            // Get the HTML DOM element that will contain your map 
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('map');

            // Create the Google Map using our element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);

            // Let's also add a marker while we're at it
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(40.6700, -73.9400),
              map: map,
              title: 'Snazzy!'
            });
          }


    .map__contacts
      .contacts
        .contacts__title
          .block-subtitle.title_35 Контакты
        ul.contacts__list
          - 
            var contacts = [
              ['skype', 'skype_kdn'],
              ['mail', 'webdevelope2017@gmail.com'],
              ['phone', '+7(968)-607-9665'],
              ['mark', 'Москва'],
            ]
          each contact in contacts
            li.contacts__item
              .contacts-row
                .contacts-row__icon 
                  svg.icon
                    use(xlink:href='images/icons/sprite.svg#skype')
                .contacts-row__content #{contact[1]}

    include ../common/footer







