.about{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 180px 100%;
    grid-template-areas: 
        "about img title"
        "about img circle";
    
    @include laptop() {
        grid-template-columns: 50% 50%;
        grid-template-rows: 180px 100%;
        grid-template-areas: 
        "title title2"
        "img progress";

        .about__title{
            grid-area: title;
        }
        .about__img{
            grid-area: img;
        }
        .about__content{
            grid-area: title2;
        }
        .about__progress{
            grid-area: progress;
        }
    }
    @include ipad() {
        grid-template-columns: 100%;
        grid-template-rows: 180px 100%;
        grid-template-areas: 
        "title"
        "img"
        "content"
        "progress";
        

        .about__title{
            grid-area: title;
        }
        .about__img{
            grid-area: img;
        }
        .about__content{
            grid-area: content;
        }
        .about__progress{
            grid-area: progress;
        }
    }

    &__title{
        grid-area: about;
        // border: 1px solid #000;
        text-align: center;
        background: #efeee9;
        .title_35{
            padding: 0;
        }
    }

    &__img{
        grid-area: img;
        background: #efeee9;
        padding: 20px 20px 140px;
        box-sizing: border-box;
        // border: 1px solid #000;
        
        &_pic{
            text-align: center;
            width: 100%;
            height: 385px;

            @include ipad(){
                max-width: 470px;
                margin: 0 auto;
            }


            img{
                display: block;
                margin: 0 auto;
                height: 95%;
                width: 95%;
            }
        }
        &_content{
            text-align: center;
        }
    }

    &__content{
        background: #efebe0;
        grid-area: title;
        // border: 1px solid #000;
        padding: 20px;
        box-sizing: border-box;
    }

    &__progress{
        background: #efebe0;
        grid-area: circle;
        // border: 1px solid #000;
        padding: 20px;
    }
}

.about__title{
    .title_63{
        z-index: 5;
        
        .about__title_icon{
            position: absolute;
            top: -10%;
            left: -40%;
            z-index: -1;
            .icon{
                fill: $lgrey;
                fill-opacity: .6;
                width: 130%;
            }
        }
    }
}

.about__img_text{
    color: $grey;
    text-align: left;
}

.about__content_title{
    text-align: center;
    .title_35, .title_35-n{
        padding: 0;
    }
   
}

.about__content{
    &_text{
        color: $grey;
    }
}

// scills
.scills{
    &_title{
        font-size: 28px;
        color: $grey;
        margin-bottom: 0;

        @include ipad(){
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

.scills__item{
    padding: 0;
    margin: 0;

    @include ipad() {
        text-align: center;
    }
}
.scills__list{
    position: relative;
    width: 16%;
    height: 120px;
    display: inline-block;
    margin: 0 20px;
    &:first-child{
        margin-left: 0;
    }
    &:last-child{
        margin-right: 0;
    }
}

.scills__title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 13px;
    font-family: robotomedium;
    color: $green;
    text-transform: uppercase;
    text-align: center;

    @include laptop(){
        left: 79%;
        font-size: 12px;
    }
    @include ipad(){
        left: 50%;
        font-size: 13px;
    }

}

.circles{
    fill: none;
    stroke-width: 20;
    transform-origin: center;
}

.circle__first{
    stroke: #dfdcd5;
}

.circle__second{
    stroke: #1bb696;
    stroke-dasharray: .0010 282.6;
    transition: all 1s;
}


.circles{
    &:hover{
        .circle-0{
            stroke-dasharray: .001 282.6;
        }
        .circle-5{
            stroke-dasharray: 14.13 282.6;
        }
        .circle-10{
            stroke-dasharray: 28.26 282.6;
        }
        .circle-15 {
            stroke-dasharray: 42.39 282.6;
        }
        .circle-20 {
            stroke-dasharray: 56.52 282.6;
        }
        .circle-25 {
            stroke-dasharray: 70.65 282.6;
        }
        .circle-30 {
            stroke-dasharray: 84.78 282.6;
        }
        .circle-35 {
            stroke-dasharray: 98.91 282.6;
        }
        .circle-40 {
            stroke-dasharray: 113.04 282.6;
        }
        .circle-45 {
            stroke-dasharray: 127.17 282.6;
        }
        .circle-50 {
            stroke-dasharray: 141.3 282.6;
        }
        .circle-55 {
            stroke-dasharray: 155.43 282.6;
        }
        .circle-60 {
            stroke-dasharray: 169.56 282.6;
        }
        .circle-65 {
            stroke-dasharray: 183.69 282.6;
        }
        .circle-75 {
            stroke-dasharray: 211.95 282.6;
        }
        .circle-70 {
            stroke-dasharray: 197.82 282.6;
        }
        .circle-80 {
            stroke-dasharray: 226.08 282.6;
        }
        .circle-85 {
            stroke-dasharray: 240.21 282.6;
        }
        .circle-90 {
            stroke-dasharray: 254.34 282.6;
        }
        .circle-95 {
            stroke-dasharray: 268.47 282.6;
        }
        .circle-100 {
            stroke-dasharray: 282.6 282.6;
        }
    }
}


// map
.map{
    width: 100%;
    height: 1075px;
    position: relative;

    &__contacts{
        width: 380px;
        min-height: 280px;
        position: absolute;
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 35px;
        box-sizing: border-box;
        opacity: .9;
        border-radius: 4px;
    }

    .contacts__title{
        .title_35{
            padding: 0;
            text-align: center;
        }
    }

    .footer{
        opacity: 0.8;
        position: absolute;
        bottom: 0;
    }

    .contacts{
        &__title{
            text-align: center;
        }

        &__list{
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__item{
            margin: 13px 0;
        }
    }
}

.contacts-row{
    &__icon{
        display: inline-block;
    vertical-align: middle;
    }

    &__content{
        padding-left: 10px;
        color: $grey;
    }

    .icon{
        width: 25px;
        height: 25px;
        fill: $green;
    }
}

.contacts-row__content{
    display: inline-block;
}

#map{
    width: 100%;
    height: 100%;
}