.blog{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.sidebar{
    width: 30%;
    height: 100%;

    &-blog{
        padding: 25px 50px;
        box-sizing: border-box;
    }

    &-menu{
        margin: 0;
        padding: 0;

        &__item{
            display: block;
            text-align: right;
            margin: 40px 0;
            transition: all .2s;
            border-right: 3px solid transparent;
            padding-right: 20px;

            &:hover{
                border-right: 3px solid $lgreen;
                .sidebar-menu__link{
                    color: $lgreen;
                    font-weight: bold;
                }
            }
        }

        &__link{
            text-decoration: none;
            color: $grey;
            transition: all .2s;
            // &:visited{
            //     color: $lgreen;
            //     font-weight: bold;
            // }
        }
    }
}
.blog-content{
    width: 70%;
    padding: 25px 50px 60px;
    color: $grey;

    &__data{
        color: $lgreen;
        opacity: .6;
        p {
            margin: 0;
        }
    }

    &__text{
        p {
            margin: 0;
        }
    }
}

.blog-content__title{
    padding-bottom: 30px;
}

