.footer{
    width: 100%;
    height: 150px;
    background: $footer;
    position: relative;

    .section-footer{
        height: 50%;
        flex-direction: row;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__left{
        margin-left: 30px;
        &_content{
            color: $lgrey;
        }
    }

    &__right{
       margin-right: 30px;
    }

    .hr{
        margin: 0;
    }
}

.menu{
   margin: 0;
   padding: 0;
    
   &__item{
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0 20px;
        &:first-child{
            padding: 0px;
        }
    }
    &__link{
        color: #fff;
        font-weight: bold;
        transition: all .2s;
        text-decoration: none;

        &:hover{
            color: $green;
        }
    }
}

.socials{
    margin: 0;
    padding: 0;
    display: inline-block;
    
    &__item{
        display: inline-block;
        padding: 0 10px;
        &:last-child{
            padding: 0;
        }
    }
    
}

.social__link_img{
    height: 38px;
    width: 38px;
}



.footer__right{
    .icon{
        line-height: 2rem;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        margin-left: 10px;
        vertical-align: middle;
        cursor: pointer;
        transition: .2s;
        fill: $lgrey;
        fill-opacity: .6;
        &:hover{
            fill: #fff;
            fill-opacity: 1;
        }
    }
   
}