.header{
    width: 100vw;
    height: 100vh;
    background: url('../images/bg/bg.png') no-repeat;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100%;

    @include laptop() {
        .traingle{
            width: 100vw;
            bottom: 0%;
            left: 0;
            position: absolute;
        }
    }

    ul{
        margin: 0;
        padding: 0;
    }

    li{
        list-style: none;
    }

    a, img{
        display: inline-block;
        vertical-align: middle;
    }

    &__links{
        position: absolute;
        top: 30px;
        left: 30px;
        @include phone() {
            top: 15px;
            left: 10px;
        }
    }

    &__item{
        display: inline-block;
        vertical-align: middle;
        list-style: none;
        padding: 0 12px;
        opacity: .6;
        transition: .2s;
        
        &_link{
            display: inline-block;
            text-decoration: none;
        }

        &:first-child{
            padding-left: 0;
        }

        &:hover{
            opacity: 1;
            cursor: pointer;
        }
    }
}

.menu__btn{
    position: absolute;
    right: 30px;
    top: 30px;
    @include phone() {
        top: 15px;
        right: 10px;
    }
}


.header{
    &__block{
        width: 380px;
        height: 400px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    &__img{
        padding-bottom: 30px;
        width: 142px;
        height: 142px;
        // border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        img{
            display: inline-block;
            width: 142px;
            height: 142px;
            
        }
    }

    &__content{
        color: #ffffff;
    }

    &__title{
        letter-spacing: 1px;
        font-size: 28px;
        font-weight: bold;

        @include phone() {
            font-size: 21px;
        }
    }

    &__subtitle{
        opacity: .8;
        @include phone() {
            font-size: 14px;
        }
    }
}

#arrow__down{
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    opacity: 0.8;
    transition: .2s;

    @include phone() {
        bottom: 145px;
    }

    &:hover{
        opacity: 1;
    }
    
    &_link{
        display: inline-block;
        text-decoration: none;
    }
}

.header__triangle{
    width: 100vw;
    bottom: -1%;
    left: 0;
    position: absolute;
}

.header__bg-title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.traingle{
    width: 99%;
}

.traingle__left{
    fill: #efeee9;
}

.traingle__right{
    fill: #efebe0;
}